<h1>Yay! You made it
  <%= @user.email %>!</h1>

<p>You are the best user ever!
</p>

<h2>Your Items:</h2>
<div class='js-items'>
  <%= render @user.items %>
</div>

<!--TODO Ajax and Partial  -->

<div class="row">
  <div class="col-md-4">
    <h4>New Task</h4>

    <%# REVIEW 3- is this the most efficient syntax? %>
    <%= render 'items/form' %>
  </div>
</div>
