<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button> Task destroyed </div>
<!-- <div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button> Task <%= item.name %> destroyed </div> -->
