<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
<!-- REVIEW 6- what is the purpose of the media-body class here? Organization only?-->
<div class="media-body">
  <small>
    <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>

    <%= item.name %></br>
    <p> Task age: <%= distance_of_time_in_words( item.created_at, Time.now) %> </p>
  </small>
 </div>
<% end %>
