<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <small>
    <%= link_to "", [@user,item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>

    <%= item.name %></br>
    <p> Task age: <%= distance_of_time_in_words( item.created_at, Time.now) %> </p>
  </small>
<% end %>
