<% if @item.destroyed? %>
  $('#item-' +<%= @item.id %>).hide();
<% else %>
  // REVIEW make sure this properly shows alert via flash div of application.html.erb
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error] %></div>");
<% end %>
